package view_page

import (
	"github.com/wa-broadcast/view"
	view_component "github.com/wa-broadcast/view/component"
)

templ Index() {
	@view.Layout("Hello") {
		@view_component.Nav{
			Link: map[string]string{
				"About":   "#",
				"Gallery": "#",
			}}.Original()
		<section x-data="{name: ''}">
			<input x-model="name" type="text" placeholder="Type here" class="w-full max-w-xs input input-bordered"/>
			<p x-text="'my name is ' + name"></p>
		</section>
	}
}
